django==5.2.4
strawberry-graphql-django
gunicorn
whitenoise[brotli]
dj-database-url
django-environ
python-dotenv
psycopg2-binary
channels
channels-redis
daphne
django-cors-headers
django-extensions
pillow
pandas
matplotlib
openpyxl
requests
beautifulsoup4
strawberry-graphql
